/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*estilos generales*/
nav {
  background-color: #f3d3a3; }

footer {
  flex-direction: column;
  height: 600px;
  background-color: #313231;
  color: whitesmoke; }
  footer .footer {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 70px; }
    footer .footer .columna {
      display: flex;
      flex-direction: column; }
      footer .footer .columna a {
        text-decoration: none;
        color: whitesmoke; }

.footer a:hover {
  text-decoration: underline; }

/*imports*/
/*estilos de Home*/
main .title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 400px; }
  main .title .title-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

main .frase {
  padding: 30px;
  text-align: center;
  background-color: #e4c1a1; }

main .side {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  main .side .f1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
    main .side .f1 p {
      padding: 30px;
      font-size: 20px; }
  main .side .f2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
    main .side .f2 p {
      padding: 30px;
      font-size: 20px; }

@media screen and (min-width: 1024px) {
  main .side .f1 {
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  main .side .f2 {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; } }

.text {
  margin: 30px;
  padding-left: 60px; }

/*estilos de sedes*/
main .cartas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e4c1a3; }
  main .cartas .caja {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: black solid 0.5px;
    border-right: solid black 0.5px;
    width: 250px;
    height: 370px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; }

@media screen and (min-width: 600px) {
  main .cartas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 60px; } }

/*Estilos de sobre nosotros*/
#nosotros {
  background: #f3d3a3;
  background: linear-gradient(0deg, #f3d3a3 52%, white 80%); }
  #nosotros .nos-uno {
    display: flex;
    flex-direction: column; }
    #nosotros .nos-uno .left {
      padding: 30px; }
    #nosotros .nos-uno .joa {
      width: 550px;
      padding-top: 10px; }
  #nosotros .nos-dos {
    display: flex;
    flex-direction: column; }
    #nosotros .nos-dos .gon {
      width: 550px;
      padding-top: 10px; }
    #nosotros .nos-dos .right {
      padding: 30px;
      text-align: center;
      background-color: #f3d3a3; }

@media screen and (min-width: 600px) {
  #nosotros .nos-uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
    #nosotros .nos-uno div .joa {
      padding: 0;
      width: 550px; }
  #nosotros .nos-dos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #nosotros .nos-dos div .gon {
      padding: 0;
      width: 550px; } }

@media screen and (min-width: 1024px) {
  #nosotros .nos-uno {
    display: grid;
    grid-template-columns: 3fr 1fr; }
    #nosotros .nos-uno .left {
      padding: 30px; }
  #nosotros .nos-dos {
    display: grid;
    grid-template-columns: 1fr 3fr; }
    #nosotros .nos-dos .right {
      padding: 30px;
      background-color: #f3d3a3;
      text-align: center; } }

/*Estilos de contacto*/
#contacto {
  height: 600px;
  background-color: #f3d3a3; }
  #contacto #formulario {
    padding-left: 60px;
    padding-top: 60px; }

/*tablet*/
@media screen and (min-width: 600px) {
  /*footer*/
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    footer .footer {
      text-align: start; } }
