//import
@import "../utilidades/variables";

/*Estilos de contacto*/
#contacto{
    height: 600px;
    background-color: $color-uno;
    #formulario{
        padding-left: 60px;
        padding-top: 60px;
    }
}