//import
@import "../utilidades/mixin";
/*estilos de Home*/
main{
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 400px;
        .title-dos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .frase{
        padding: 30px;
        text-align: center;
        background-color: rgba(228,193,161,255);
    }
    .side{
        background-color:black;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .f1{
            @include column;
            p{
                padding: 30px;
                font-size: 20px;
            }
        }
        .f2{
            @include column;
            p{
                padding: 30px;
                font-size: 20px;
            }
        }
    }
}
@media screen and (min-width: 1024px){
    main{
        .side{
            .f1{
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            .f2{
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
            }
        }
    }
}