/*Estilos de sobre nosotros*/
#nosotros{
    background: rgb(243,211,163);
    background: linear-gradient(0deg, rgba(243,211,163,1) 52%, rgba(255,255,255,1) 80%);
    .nos-uno{
        display: flex;
        flex-direction: column;
        .left{
            padding: 30px;
        }
        .joa{
            width: 550px;
            padding-top: 10px;
        }
    }
    .nos-dos{
        display: flex;
        flex-direction: column;
        .gon{
            width: 550px;
            padding-top: 10px;
        }
        .right{
            padding: 30px;
            text-align: center;
            background-color: rgba(243,211,163,255);
        }
    }
}
@media screen and (min-width: 600px){
    #nosotros{
        .nos-uno{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            div{
                .joa{
                    padding: 0;
                    width: 550px;
                }
            }
        }
        .nos-dos{
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                .gon{
                    padding: 0;
                    width: 550px;
                }
            }
        }
    }
}
@media screen and (min-width: 1024px){
    #nosotros{
        .nos-uno{
            display: grid;
            grid-template-columns: 3fr 1fr;
            .left{
                padding: 30px;
            }
        }
        .nos-dos{
            display: grid;
            grid-template-columns: 1fr 3fr;
            .right{
                padding: 30px;
            background-color: rgba(243,211,163,255);
            text-align: center;
            }
        }
    }
}